*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Spot-darker: #000000;
    --Spot-dark: #080B12;
    --Spot-primary: #141922;
    --Spot-play: #282828;
    --Spot-text: #585858;
    --Spot-decoration: #ADFF2F;
    --Spot-lighter: #FFFFFF;
}
/* utilities */
.wrapper{
    height: 100vh;
}
.row_principal{
    height: calc(100vh - 100px);
    display: flex;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    height: calc(100% - 121px);
    overflow-y: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;  
} 
img{
    max-width: 100%;
}
.col_2{
    width: calc((100% / 12)*2);
    overflow: auto;
}
.col_10{
    width: calc((100% / 12)*10);
    overflow: auto;
    background-color: var(--Spot-primary);
}
.col_12{
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* #region debug */
.debug .col_10{
    background-color: aqua;
    
}
.debug .col_12{
    height: 100px;
}
.debug .upgrade{
    height: 100px;
}
.debug .recently_played .col_2, .debug .create_for .col_2, .debug .popular .col_2{
    background-color: green;
    border: 1px solid;
}
.debug .col_10 .col_2{
    height: 100px;
}
.debug .player{
    background-color: blue;
}
/* #endregion debug */

/* #region sidebar */
.bar{
    height: calc(100% - 100px);
}
.sidebar{
    background-color: var(--Spot-dark);
}
.d_flex{
    display: flex;
    align-items: center;
}
.sidebar nav{
    padding-bottom: 30px;
    color: var(--Spot-text);
    height: 300px;
}
.sidebar .mobile{
    display: none;
}
.column{
   padding: 0 10px;
   height: calc(100% - 400px);
   overflow-y: auto;
}
.sidebar nav img{
    width: 30px;
    padding-bottom: 15px;
    filter: invert(0.5);
    margin-left: 10px;
}
.mark{
    padding: 30px 0;
    width: 3px;
    background-color: var(--Spot-decoration);
    margin-bottom: 12px;
} 
#logo{
    filter: invert(0);
    width: 173px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.column img + div{
    color: var(--Spot-text);
    padding-left: 10px;
}
/* #region playlist */

.playlist h2{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}
.playlist i{
    font-size: 55px;
    padding: 10px;
    background-color: #A3A3A3;
}
.playlist h3{
    padding-left: 10px;
    color: var(--Spot-text);
}
.playlist ul li{
    color: var(--Spot-text);
    padding-top: 30px;
}
.playlist ul{
    list-style: none;
}
/* #endregion playlist */

/* #region profile */
.profile{
    color: var(--Spot-text);
    height: 100px;
}
.profile h5 i, .profile_mobile i{
    border: 1px solid var(--Spot-text);
    border-radius: 50%;
    padding: 0.25rem;
    aspect-ratio: 1/1;
}
.profile hr{
    display: block;
}
.profile h5{
    padding-bottom: 10px;
}
.profile .d_flex div:last-child{
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.profile .d_flex{
    padding-top: 10px;
}
.profile img, .profile_mobile img{
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    background-color: #A3A3A3;
}

.profile_mobile{
    display: none;
}
/* #endregion profile */
/* #endregion sidebar */

/* #region upgrade */
.upgrade{
    background-color: var(--Spot-dark);
    display: flex;
    justify-content: flex-end;
    height: 121px;
}
.upgrade .button a{
    margin: 1.5rem 0;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 20px;
}
/* #endregion upgrade */
/* #region nav */
.col_10 nav{
    margin-top: 3rem;
}
.col_10 nav ul{
    list-style: none;
    text-align: center;
}
ul li a{
    color: var(--Spot-text);
    text-decoration: none;
}
.col_10 nav ul li{
    display: inline-block;
    padding-right: 1.5rem;
}
.container nav .mark{
    width: 40%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 2rem;
    padding: 2px 0;
}
/* #endregion nav */

/* #region recently_played */

.recently_played h2{
    color: white;
    margin: 2rem 0;
    padding-left: 10px;
}
.recently_played img{
    border: 10px solid var(--Spot-primary);
}
.pos{
    position: relative;
}
.recently_played i, .create_for i, .popular i{
    border: 5px solid white;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    padding: 8px;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.recently_played .col_2{
    text-align: center;
}
.recently_played h3{
    color: white;
}
.recently_played h4{
    color: var(--Spot-text);
    padding-top: 10px;
}
/* #endregion recently_played */
/* #region create_for */
.create_for .col_2{
    text-align: center;
}
.create_for h2{
    color: white;
    padding-top: 1.5rem;
    padding-left: 10px;
}
.create_for h4{
    color: var(--Spot-text);
    padding: 1rem 10px;
}
.create_for h3{
    color: white;
    padding-top: 1rem;
}
.create_for img{
    border: 10px solid var(--Spot-primary);
}
/* #endregion create_for */
/* #region popular*/
.popular h2{
    color: white;
    padding: 2rem 10px;
}
.popular .col_2{
    text-align: center;
}
.popular h4{
    color: var(--Spot-text);
    padding-bottom: 1rem;
    padding-left: 10px;
}
.popular img{
    border: 10px solid var(--Spot-primary);
    border-radius: 50%;
}
.popular h3{
    color: white;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
/* #endregion popular*/
/* #region player */
.player{
    background-color: var(--Spot-play);
}
.container_player{
    height: 100px;
    max-width: 1416px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.song{
    width: calc((100% / 12)*4);
    display: flex;
}
.song div{
    align-self: center;
}
.song img{
    padding: 1rem;
}
.song h3{
    color: white;
}
.song h4, .song div i{
    color: var(--Spot-text);
    font-size: 15px;
}
.song div i{
    padding: 0 10px;
}
.song div{
    font-size: 20px;
    padding: 0 20px;
}
.play{
    width: calc((100% / 12)*4);
    text-align: center;
    margin: auto;
}
.play i{
    color: white;
    font-size: 20px;
    margin: 0.5rem;
}
.play .fa-play{
    border: 3px solid white;
    border-radius: 50%;
    padding: 8px;
    padding-left: 10px;
}
.play .time{
    display: flex;
    color: white;
    width: 450px;
}
.play .time div:not(.bars, .circle){
    padding: 0 10px;
}
.play .bars_op, .play .bars_op .bars_white{
    margin-top: 10px;
    height: 3px;
    background-color: var(--Spot-text);
}
.play .bars_op{
    width: 100%;
    position: relative;
}
.play .bars_op .bars_white{
    background-color: white;
    width: 70%;
    position: absolute;
    bottom: 0;  
    left: 0;
}
.circle{
    background-color: white;
    width: 10px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -3px;
    display: none;
    
}
.volume{
    width: calc((100% / 12)*4);
    display: flex;
    align-items: center;
    justify-content: end;
}
.volume i{
    color: white;
    padding: 0 1rem;
}
.vol_op{
    height: 3px;
    width: 100px;
    background-color: var(--Spot-text);
    position: relative;
}
.vol_white{
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: white;
}
/* #endregion player */



/* #region hover */

.d_flex:hover img{
    filter: invert(0);
}
.d_flex:hover{
    color: white;
}
.playlist .d_flex:hover i{
    background-color: white;
    color: black;
}
.playlist .d_flex:hover h3{
    color: white;
}
.playlist ul li:hover {
    color: white;
}
.profile h5:hover{
    color: white;
}
.profile h5:hover i{
    border-color: white;
}
.upgrade .button:hover a{
    padding: 1.2rem 3.2rem;
}
.container ul li:hover a{
    color: white;
}
.song h4:hover{
    text-decoration: underline;
    color: white;
}
.song div i:hover{
    color: white;
}
.play .fa-play:hover{
    padding: 10px;
    padding-left: 12px;
}
.play .time:hover .bars_white, .volume:hover .vol_white{
    background-color: var(--Spot-decoration);
}
.play .time:hover .circle, .volume:hover .circle{
    display: inline-block;
}
.recently_played img:hover + i, .create_for img:hover + i, .popular img:hover + i{
    display: inline-block;
}

.recently_played img:hover, .popular img:hover, .create_for img:hover{
    opacity: 0.5;
}

/* #endregion hover */









/* media query */
@media screen and (max-width:878px) {
    .container{
        margin: auto;
        max-width: 660px;
    }
    .col_tab{
        width: calc((100% / 12)*3);
    }
    ul li a{
        display: inline-block;
        font-size: 15px;
    }
    .container_player{
        max-width: 840px;
        margin: auto;
    }
    .song img{
        padding: 25px 0;
    }
    .song div i{
        padding: 0;
    }
    .song h4{
        font-size: 11px;
    }
    .play .time{
        width: 295px;
    }
    .play .time div:not(.bars) {
        margin: 0 2px;
    }
}
@media screen and (max-width:639px){
    .container{
        margin: auto;
        max-width: 432px;
    }
    .recently_played .col_tab_sm, .create_for .col_tab_sm, .popular .col_tab_sm{
        width: calc((100% / 12)*6);
    }
    .col_tab_sm{
        width: calc((100% / 12)*4);
    }
    .container_player{
        max-width: 600px;
        margin: auto;
    }
    .song h3{
        font-size: 13px;
    }
    .song div{
        padding: 0 8px;
    }
    .song div i {
        padding: 0.2rem;
    }
    .play i{
        font-size: 16px;
    }
    .play .time{
        width: 206px;
    }
    .play .bars{
        margin-top: 6px;
    }
    .play .time div:not(.bars) {
        margin: 0 -5px;
        font-size: 12px;
    }
    .volume i{
        padding: 0 10px;
        font-size: 13px;
    }
    .volume div{
        width: 70px;
    }
}
@media screen and (max-width:552px){
    .container{
        margin: auto;
        max-width: 480px;
    }
    .col_mobile{
        width: calc(100% / 12);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
    .col_mobile_lg{
        width: calc((100% / 12)*11);
    }
    nav .d_flex div, #logo, .playlist, .profile{
        display: none;
    }
    .bar{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .mobile img{
        width: 30px;
        margin-left: 8px;
        margin-bottom: 5px;
    }
    .sidebar .mobile{
        display: block;
    }
    .sidebar nav img{
        filter: invert(0);
        width: 25px;
    }
    .profile_mobile{
        display: block;
    }
    .profile_mobile i{
        margin-bottom: 20px;
        margin-left: 5px;
        color: white;
        font-size: 10px;
    }
    .container_player{
        max-width: 528px;
        margin: auto;
    }
    ul li a{
        font-size: 14px;
    
    }
    .play i{
        font-size: 13px;
    }
    .song img{
        padding: 35px 0;
    }
    .play .time{
        width: 175px;
    }
    .volume div{
        width: 65px;
    }
}










